@model IEnumerable<HouseCrimes.Models.Filme>

@{
    ViewData["Title"] = "IndexAdm";
}

<h1 style="text-align: center;">Filmes</h1>
<br />

<button class="btn btn-primary"
        type="submit"
        onclick="location.href='@Url.Action("Index", "Home")'"
        style="background-color: forestgreen; border-color: forestgreen">
    Adicionar novo filme
</button>

<table class="table table-striped">
    <thead class="table-dark align-content-center">
        <tr>
            <th></th>

            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.classificacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <video width="160" height="80" autoplay loop><source src="~/video/@item.titulo" type="video/mp4"> </video>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.titulo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.duracao)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.classificacao)
                </td>
                <td>
                    <a class="btn" style="background-color:darkgrey; color: black" asp-action="Edit" asp-route-id="@item.filmeId">Editar</a> |
                    <a class="btn" style="background-color:darkgreen; color: white" asp-action="Details" asp-route-id="@item.filmeId">Detalhes</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.filmeId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>